# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# TypeScript
# =========================
dist/
build/
coverage/
*.tsbuildinfo

# =========================
# Cypress
# =========================
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Cache Cypress
Cypress/screenshots/
Cypress/videos/

# =========================
# Allure
# =========================
allure-results/
allure-report/
allure-history/

# =========================
# Reports
# =========================
cypress/reports/

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# Mantém exemplos versionados
!.env.example
!.env.qa.example

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Test artifacts
# =========================
*.mp4
*.webm

# Ignora screenshots automáticos do Cypress
cypress/screenshots/**/*.png

# =========================
# GitHub Pages generated
# =========================
gh-pages/

# =========================
# README images
# =========================
!img_readme/
!img_readme/*.png